extends layout.pug

block content
  div.main
    img.blur(src="/public/img/ocean640.jpg")
    img.blur(src="/public/img/rays640.jpg")
    img.blur(src="/public/img/rum640.jpg")
    img.blur(src="/public/img/strawberries640.jpg")

